.vscode/settings.json
# ignore all logs
*.log
*.dill
*.h5
# ignore test data
*.db
# ignore images
*.jpg
*.png
# ignore audio
*.wav
# ignore text data
*.csv
# ignore sandbox
sandbox*
script.py
scripts.py
database.db

ae.py
*.pyc
*.pyc
*.csv
*.csv
*.h5
