.vscode/settings.json
# ignore all logs
*.log
# ignore test data
*.db
# ignore images
*.jpg
# ignore audio
*.wav
# ignore text data
*.csv
# ignore sandbox
sandbox.py
script.py
scripts.py
database.db

