{% extends 'base.html' %}
{% block title %} Quality Inspection with audio {% endblock %}
{% block content %}
    <div class = "container">
        <h2> Index Page </h2>

    <ul>
        <br/><li>Get wav files from source to target data</li>
        <br/><li>Extract spectrograms from wav files</li>
        <br/><li>Load training images</li>
        <br/><li>Build autoencoder</li>
        <br/><li>Set threshold</li>
        <br/><li>Make an inference</li>
        <br/><li>Select a day and make inference</li>
    </ul>
    </div>



{% endblock %}